<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!--方式一-->
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=127.0.0.1;user id=sa; password=Ll@20190505; database=Test;"/>
  </connectionStrings>
  <!--方式二-->
  <appSettings>
        <add key="ConnectionString" value="server=127.0.0.1;user id=sa; password=Ll@20190505; database=Test;"/>
        <add key="ConStringEncrypt" value="true"/>
  </appSettings>
</configuration>